body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e47f7f;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

#qr-code {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #292222;
    border-radius: 10px;
    padding: 10px;
}
